.navbar {
    background-color: #0066FF; 
}

.navbar-default .navbar-brand {
    color: #FEFFFF;
}

.vis .panel-heading {
    padding-left: 10px;
    background-color: #66368E;
    color: #FCF9FF;
}

.panel {
    height: 150px;
}

#vis1 .panel {
    height: 500px;
}

body {
    background-color: #EEEEEE;
}

.fill { 
    min-height: 100%;
    height: 100%;
}