.navbar {
    background-color: #0066FF; 
}

.navbar-default .navbar-brand {
    color: #FEFFFF;
}

.vis .panel-heading {
    padding-left: 10px;
    background-color: #6600BA;
    color: #FCF9FF;
}

.panel {
    height: 150px;
}

#vis1 .panel {
    height: 500px;
}

body {
    background-color: #EEEEEE;
}